<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">LISTA DE PROCEDENCIA</span>
      <button class="btn btn-dark btn-lg " style="float: right;"routerLink="/crear-procedencia">AGREGAR</button>
      <h5 style="margin-top: 30px;" *ngIf="procedencia.length == 0">No Hay Datos Para Mostrar</h5>
      <table *ngIf="procedencia.length > 0"  class="table table-striped mt-5">
        <thead>
          <tr>

            <th>VENDEDOR</th>
            <th>PROCEDENCIA</th>
            <th>DESCRIPCION</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let procedencia of procedencia">

            <td>{{ procedencia.Vendedor }}</td>
            <td>{{ procedencia.Procedencia }}</td>
            <td>{{ procedencia.Descripcion }}</td>
            <td><i class="fa fa-edit text-info" style="margin-right:15px;" [routerLink] ="['/editar-procedencia/',procedencia.id]"></i>
              <i (click)="eliminarprocedencia(procedencia.id)" class="fa fa-trash" style="font-size:20px;color:red"></i>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

</div>
